FRONTEND_PORT=your-frontend_port
BACKEND_PORT=your-backend_port
DB_PORT=your-db_port
DATABASE_URL=postgres://your-pg-username:your-secure-password@postgres:your-db_port/your-databse-name
POSTGRES_USER=your-pg-username
POSTGRES_PASSWORD=your-secure-password
POSTGRES_DB=your-atabase-name
