.result-container {
    display: flex;
    background-color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.score-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 380px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #292929;
    border-radius: 12px;
    text-align: center;
}


.circle-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
}

.score-text-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.result-title {
    color: white;
    margin-bottom: 40px;
}

.feedback-text {
    margin-top: 12px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.summary-text {
    color: #ddd;
    margin-bottom: 20px;
    font-size: 16px;
}